td input {
	width:25px;
	background:none;
	border:none;
	font-size:1.5rem;
	margin:-7px -7px;
	outline:none;
}
.experiment {
  padding: 10px; }

.experiment-locations {
  background-color: #fafafa; }

.experiment-locations table {
  width: 100%;
  color: black;
  text-align: center;
  font-size: 0.8rem;
  border-collapse:collapse;
}
.experiment-locations table th {
  background-color: grey;
  color:white;
}
.experiment-locations table td {
	border:1px solid white;
	background-color:lightGrey;
}
.experiment-locations table td#input {
	width:20px;
	border-left:none;
	border-right:none;
}
